@font-face {
    font-family: 'Jua';
    src: url("../font/Jua-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}


/* *************************************BODY***************************************** */
body {
    min-height: 100vh;
    background-image: url(../img/layered-peaks-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #8EBBED;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav ul {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

nav ul li{
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: calc(0.5rem + 1.5vw);
    gap: 50px;
}

.figure_user{
    display: flex;
    color: white;
    margin-right: 2%;
    text-transform: uppercase;
    width: 50%;
    align-items: center;
    font-size: calc(0.5rem + 1vw);
}

.admin {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
}

.figure_user img{
    margin-left: 5%;
    width: 60px;
    height: 60px;
}

.figure_dvd{
    margin-left: 2%;
}

.button_add{
    display: flex;
    width: 60%;
}

.button_add a{
    display: flex;
    width: 100%;
    height: 35px;
    color: white;
    background-color: #A2A6EE;
    margin-left: 1%;
    border-radius: 8px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
}

#icons {
    cursor: pointer;
    display: none;
}

.button_add a:hover{
    background-color: #B994E3;
}

nav ul li a:hover{
    color: #B994E3;
}

.mobile{
    display: flex;
    width: 100%;
    align-items: center;
}
/* *****************************************MAIN************************************************* */

.homeCaroussel{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: -1;
}

.homeCaroussel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
}

.title_rea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
}
.title_rea h1 {
    font-size: calc(3rem + 4vw);
    font-weight: normal;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.42);
}
.title_rea h2 {
    font-size: calc(1rem + 2vw);
    font-weight: normal;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.42);
}

h1 {
    font-size: calc(3rem + 4vw);
    font-weight: normal;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.42);
}
h2 {
    font-size: calc(1rem + 2vw);
    font-weight: normal;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.42);
}

.boutonGauche {
    display: flex;
    position: absolute;
    top: 20%;
    left: 2%;
    background-color: #A2A6EE;
    border: 0;
    color: white;
    width: 40px;
    height: 60px;
    font-size: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.boutonDroit {
    display: flex;
    position: absolute;
    top: 20%;
    right: 2%;
    background-color: #A2A6EE;
    border: 0;
    color: white;
    width: 40px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}
.lastest {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
    font-size: calc(0.5rem + 1.5vw);
}

.boutonDroit:hover {
    background-color: #B994E3;
    transform: scale(1.2);
    transition: 80ms;
}

.boutonGauche:hover {
    background-color: #B994E3;
    transform: scale(1.2);
    transition: 80ms;
}

.card-lastest{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.imgLastest{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}
.GenresCard {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: white;
    width: 10%;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.card-rea{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: white;
    width: 10%;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.card-rea a{
    text-decoration: none;
    color: black;
}

.GenresCard a{
    text-decoration: none;
    color: black;
}

.card-film {
    background-color: white;
    width: 10%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.card-film a{
    text-decoration: none;
    color: black;
}
.card_acteur {
    background-color: white;
    width: 10%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.card_acteur a{
    text-decoration: none;
    color: black;
}

.card a{
    text-decoration: none;
    color: black;
}
.card {
    background-color: white;
    width: 10%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.note-star{
    width: 15px;
    height: 15px;
}

.card:hover {
    transform: scale(1.1);
    transition: 50ms;
}
.GenresCard:hover {
    transform: scale(1.1);
    transition: 50ms;
}
.card-film:hover {
    transform: scale(1.1);
    transition: 50ms;
}
.card_acteur:hover {
    transform: scale(1.1);
    transition: 50ms;
}

.card-rea:hover {
    transform: scale(1.1);
    transition: 50ms;
}
.title-add-actor-or-rea {
    margin-top: 2%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-size: calc(0.5rem + 1vw);
}

.title-film {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
}
.container-detailFilm{
    margin-top: 3%;
    margin-left: 3%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.movie-picture {
    width: 40%;
    display: grid;
}
.movie-picture img{
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-film{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    margin-left: -10%;
}
.title-movie {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-transform: capitalize;
}

.title-movie a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.casting-info{
    background-color: #8EBBED;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    font-size: calc(1rem + 1vw);
    text-transform: capitalize;
}

.title-span1{
    font-size: calc(1rem + 1vw);
    width: 100%;
}
.title-span2{
    font-size: calc(0.5rem + 0.5vw);
    margin-right: 5px;
}

.movie-picture a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #A2A6EE;
    color: white;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 3%;
    border-radius: 5px;
    height: 30px;
    width: 70%;
    font-size: calc(0.5rem + 1vw);
    text-transform: capitalize;
}

.figNote{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-transform: capitalize;
    align-items: center;
}

.container-card-movie-casting{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-picture a:hover{
    background-color: #B994E3;
    transform: scale(1.1);
    transition: 50ms;
}

.container-form{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.formulaire {
    margin-top: 1%;
    width: 80%;
}
#name{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    text-transform: capitalize;
}
#title{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    text-transform: capitalize;
}
#surname{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}
#release{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}
#duration{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}

.input{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}
.input_select{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 48%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}
#chooseActor {
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}

#addCastingButton{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 3px;
    margin-bottom: 1%;
}

#modifyAdd{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 3px;
    margin-bottom: 1%;
}

#modifyRemove{
    background-color: #e4717a;
    color: white;
    border: 0 solid;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 3%;
}

#castingRemove{
    background-color: #e4717a;
    color: white;
    border: 0 solid;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 3%;
}

#synopsisModify{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 80px;
    margin-top: 2%;
    text-transform: capitalize;
}

#synonpsis{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 80px;
    margin-top: 2%;
    text-transform: capitalize;
}

#gender{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 48%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}
#date_naissance{
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    margin-left: 3%;
    width: 48%;
    height: 30px;
    margin-top: 2%;
}
#select_genre {
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 48%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}

.btnAddFilm {
    display: inline-block;
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 48%;
    height: 30px;
    margin-left: 3%;
    text-transform: capitalize;
}
#select_realisateur {
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 48%;
    height: 30px;
    margin-top: 2%;
    text-transform: capitalize;
}
#picture_film {
    margin-top: 2%;
}

#select_role {
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 2%;
}

#picture_personne {
    margin-top: 2%;
}

#btn-add-actor-or-rea {
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 3px;
    margin-bottom: 3%;
}

#date_sortie {
    background-color: #AD9EEA;
    color: white;
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 2%;

}

#modifyRemove:hover {
    background-color: #ea3c53;
    transform: scale(1.1);
    transition: 50ms;
}
#castingRemove:hover {
    background-color: #ea3c53;
    transform: scale(1.1);
    transition: 50ms;
}

#btn-add-actor-or-rea:hover {
    background-color: #B994E3;
    transform: scale(1.1);
    transition: 50ms;
}
#addCastingButton:hover {
    background-color: #B994E3;
    transform: scale(1.1);
    transition: 50ms;
}
#modifyAdd:hover {
    background-color: #B994E3;
    transform: scale(1.1);
    transition: 50ms;
}

.btnAddFilm:hover{
    background-color: #B994E3;
    transform: scale(1.05);
    transition: 50ms;
}

#sexeModifyActor{
    margin-right: 3%;
}

.title-genre{
    margin-top: 1%;
    text-align: center;
    text-transform: capitalize;
    font-size: calc(1rem + 1vw);
}
.genre-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input::placeholder {
    color: white;
}
#synopsisModify::placeholder {
    color:white;
}

#sexeModifyActor::placeholder{
    color: white;
}

#name::placeholder {
    color: white;
}
#surname::placeholder {
    color: white;
}
#gender::placeholder {
    color: white;
}
#title::placeholder {
    color: white;
}
#release::placeholder {
    color: white;
}
#synonpsis::placeholder {
    color: white;
}

#duration::placeholder {
    color: white;
}
.phraseBienJouéAddActeurEtRea{
    color: green;
}

/* *****************************************MEDIA******************************************* */
@media (max-width: 700px){
    #icons {
        display: block;
    }
    #icons:before{
        color: white;
        content: "\2630";
        font-size: calc(1rem + 3vw);
    }
    #iconsClose:before{
        color: white;
        content: "\2715";
        font-size: calc(1rem + 3vw);
    }

    #iconsClose {
        display: none;
    }

    nav ul{
        text-align: center;
        background:  #8EBBED;
        width: 100%;
        padding-bottom: 2%;
        flex-direction: column;
    }
    nav li {
        padding: 3px 0;
    }
    nav.active ul {
        left: 0%;
    }
    .mobile{
        position: absolute;
        left: -100%;
        top: 80px;
        transition: 0.5s;
        width: 100%;
        flex-direction: column;
        z-index: 3;
    }

    .mobile.active {
        left: 0%;
    }

    .button_add {
        align-items: center;
        background-color: #8EBBED;
        flex-direction: column;
        width: 100%;
        transition: 0.5s;
        padding-bottom: 2%;
    }
    .button_add.active {
        left: 0%
    }
    .button_add a{
        display: flex;
        width: 40%;
        height: 35px;
        margin-top: 1%;
    }
    .figure_user img{
        margin-left: 5%;
        width: 50%;
        height: 50%;
    }

    .figure_user{
        width: 20%;
        font-size: calc(0.5rem + 1vw);
    }

    .card {
        background-color: white;
        width: 150px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    .GenresCard {
        background-color: white;
        width: 150px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    .card-film{
        background-color: white;
        width: 150px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    .card_acteur{
        background-color: white;
        width: 150px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    .card-rea {
        background-color: white;
        width: 150px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }

    .lastest {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-line: underline;
        font-size: 20px;
    }

    .title_rea h1 {
        font-size: 40px;
        font-weight: normal;
        text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.42);
    }
    .title_rea h2 {
        font-size: 25px;
        font-weight: normal;
        text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.42);
    }
    #name{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        text-transform: capitalize;
        margin-top: 5%;
    }
    #surname{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #gender{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        text-transform: capitalize;
        margin-top: 5%;
    }
    #date_naissance{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
        margin-left: 0;

    }
    #picture_personne {
        margin-top: 5%;
        width: 70%;
    }
    #picture_film{
        margin-top: 5%;
        width: 70%;
    }
    #sexeModifyActor{
        margin-right: 0;
    }

    #select_role {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
    }
    #release{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #title {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #duration {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #synonpsis {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 60px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #select_genre {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
    }
    #select_realisateur {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
    }
    .btnAddFilm {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 70%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        border-radius: 3px;
        margin-left: 0;
    }
    
    #btn-add-actor-or-rea {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 70%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        border-radius: 3px;
    }
    .title-add-actor-or-rea {
        font-size: 15px;
    }
    .movie-picture{
        width: 100%;
    }
    .movie-picture img{
        width: 100%;
    }
    .movie-picture a{
        width: 100%;
        font-size: 20px;
    }
    .info-film {
        width: 100%;
        margin-left: 0;
    }
    .title-span1 {
        text-align: center;
        font-size: 20px;
    }
    .title-span2 {
        text-align: center;
        font-size: 15px;
    }
    .figNote{
        justify-content: center;
    }
    .title-movie{
        justify-content: center;
    }
    .input{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #synopsisModify{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 60px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    .input_select{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
    }
    #modifyAdd{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 70%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        border-radius: 3px;
        margin-left: 0;
    }
    #modifyRemove{
        background-color: #e4717a;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 70%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        border-radius: 3px;
        margin-left: 0;
    }
    #castingRemove{
        background-color: #e4717a;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 70%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        border-radius: 3px;
        margin-left: 0;
    }
    #chooseActor{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 70%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #addCastingButton{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 70%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        border-radius: 3px;
        margin-left: 0;
    }
}

@media screen and (min-width: 710px)and (max-width: 1080px) {
    .card {
        background-color: white;
        width: 120px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }

    .GenresCard {
        background-color: white;
        width: 120px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    .card-film {
        background-color: white;
        width: 120px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    .card_acteur {
        background-color: white;
        width: 120px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    .card-rea {
        background-color: white;
        width: 120px;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    #sexeModifyActor{
        margin-right: 0;
    }
    #name{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        text-transform: capitalize;
        margin-top: 5%;
    }
    #surname{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #gender{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        text-transform: capitalize;
        margin-top: 5%;
    }
    #date_naissance{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
        margin-left: 0;

    }
    #picture_personne {
        margin-top: 5%;
    }
    #picture_film {
        margin-top: 5%;
    }

    #select_role {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
    }
    #title {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #release {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #synonpsis{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 60px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #duration {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    
    
    #select_genre {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
    }
    #select_realisateur {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
    }
    .btnAddFilm {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 80%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        margin-left: 0;
        border-radius: 3px;
    }
    
    #btn-add-actor-or-rea {
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 80%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        border-radius: 3px;
    }
    .title-add-actor-or-rea {
        font-size: 15px;
    }
    .input{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #synopsisModify{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 60px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    .input_select{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
    }
    #modifyAdd{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 80%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        margin-left: 0;
        border-radius: 3px;
    }
    #modifyRemove{
        background-color: #e4717a;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 80%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-left: 0;
        border-radius: 3px;
    }
    #castingRemove{
        background-color: #e4717a;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 80%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-left: 0;
        border-radius: 3px;
    }
    #chooseActor{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3px;
        width: 80%;
        height: 30px;
        margin-top: 5%;
        text-transform: capitalize;
    }
    #addCastingButton{
        background-color: #AD9EEA;
        color: white;
        border: 0 solid;
        text-transform: uppercase;
        width: 80%;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        margin-top: 5%;
        margin-left: 0;
        border-radius: 3px;
    }
}